<!DOCTYPE html>
<html>
  <head>
    <title>CipherDecks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2>| <%= link_to 'Decks', :decks %> - <%= link_to 'Cards', :cards %> |</h2>
    <%= yield %>
  </body>
</html>
